<div>
    <h5 style="position: absolute; left: 20px; bottom: 5px;">
        Время работы: ежедневно, с 6 до 22
    </h5>
     <center>
    <buttons>
        <form action="" style="position: absolute; right: 5px; bottom: 0px;">
            <button class="social">
                Vk
            </button>
            </form>
        <form action="" style="position: absolute; left: 5px; bottom: 0px;">
            <button class="social">
                I
            </button>
            </form>

    </buttons>
     </center>
    <h5 style="position: absolute; right: 20px; bottom: 5px;">
        Тел.: 8-800-ххх-хх-хх
    </h5>


</div>