<div>
<!--
  <h1>
    python pizza
  </h1>
    <form action="/">
        <button style="position: absolute;right: 120px; top: 35px">
        <basket>
          Главная
        </basket>
      </button>
    </form>

  <form action="basket-page">
      <button style="position: absolute;right: 20px; top: 35px">
        <basket>
          Корзина
        </basket>
      </button>
  </form>
-->

    <style>
        headers {
            display: flex;
            flex-direction: row;
            height: 100px;
            align-items: center;

        }

        header {
            padding: 10px;
            margin: 10px;

        }

    </style>
    <headers>
         <header style="width: 500px">
            <h1>
                python pizza
            </h1>
            </header>


    <header>
           <text>
               Пн - Вс с 7.00 до 23.00 <br>
                Тел.: 8-800-ххх-хх-хх
           </text>
    </header>

     <header>
    <form action="/">
        <button>
        <basket>
          Главная
        </basket>
      </button>
    </form>

  <form action="basket-page">
      <button>
        <basket>
          Корзина
        </basket>
      </button>
  </form>
    </header>

</headers>



</div>