<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Python pizza</title>
    <style>
        grandperents {
             display: flex;
             flex-direction: column;
        }
        perents {
            background: red;
        }
        body {
            margin: 0px;
            width: 1000px;
            margin-left: auto;
            matgin-right: auto:
        }
    </style>
</head>
<body>
    <grandperents>
        <perents>
             {% include 'mainapp/headers.html' %}
        </perents>
        <perents style="background:blue;">
            Тело
        </perents>

        <perents>
             {% include 'mainapp/footer.html' %}
        </perents>

    </grandperents>

</body>
</html>