<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pizza shop</title>
    <style>
        h1 {
            font-family: Monotype Corsiva;
            font-size: 40px;
            color: #850663;
            }
    </style>
</head>
<body>
<header>
    {% include 'mainapp/headers.html' %}
</header>

<solid>

</solid>
<footer>

</footer>
</body>
</html>