<div>
    <style>
        messengers{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        messenger{
            width:  30px;
            height: 30px;
            margin: 10px;

        }

    </style>

    <messengers>
        <!-- Vkontakte -->
            <messenger>
            <center>
            <a href="">
                <img src="https://raw.githubusercontent.com/yodo-im/python_pizza/main/messeger/Vk.png"
                     width="30px" height="30px" alt="Vk">

            </a>
                </center>
            </messenger>
        <!-- Telegram -->
            <messenger>
            <center>
            <a href="">
                <img src="https://raw.githubusercontent.com/yodo-im/python_pizza/849f1e810acc656fe84e3745f38f5120b46ae108/messeger/telegram.svg"
                     width="30px" height="30px" alt="Tg">

            </a>
                </center>
        </messenger>
         <!-- Insta -->
            <messenger>
            <center>
            <a href="">
                <img src="https://github.com/yodo-im/python_pizza/blob/main/messeger/Instagram.png?raw=true"
                     width="30px" height="30px" alt="Insta">

            </a>
                </center>
        </messenger>
    </messengers>
</div>