<div>
    <style>
      pizzas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

      pizza {

      }
    </style>

    <pizzas>
        <pizza>
            <img src="https://github.com/yodo-im/python_pizza/blob/main/pizza/carbonara.jpeg?raw=true" width="" height="" alt="">
            <h6>Карбонара</h6>
            <text>
                Бекон, сыры чеддер и пармезан, <br>
                мацарелла, томаты черри, красный лук

            </text>
            <h7></h7>
            <button></button>


        </pizza>
    </pizzas>


</div>